{% extends 'base.html' %}

{% block title %} Atividades {% endblock %}

{% block content %}
    <div class="col-md-12 m-auto pt-2 pb-2 text-center">
        <h1>Atividades</h1>
    </div>
 
    <div class="col-md-12 m-auto pt-3 pb-2 text-center">
        <a href="/atividades/" class="btn btn-info">Voltar</a>
    </div>
    <div class="col-md-12 m-auto pt-4 pb-2 ">
        <form name='atividades_criar' id='atividades_criar' method='post' action="{% if db %}/atividadesatualizar/{{db.id}}/{%else%}/atividadescriar/{% endif %}">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-10 m-auto"></div>
                <div class="form-group col-md-10 m-auto">{{atividades_form.nome.label_tag}}{{atividades_form.nome}}</div>
                <div class="form-group col-md-10 m-auto">{{atividades_form.projeto.label_tag}}{{atividades_form.projeto}}</div>
                <div class="form-group col-md-10 m-auto">{{atividades_form.user.label_tag}}{{atividades_form.user}}</div>
                <div class="form-group col-md-10 m-auto">{{atividades_form.status_atividade.label_tag}}{{atividades_form.status_atividade}}</div>
                <div class="form-group col-md-10 m-auto">{{atividades_form.descricao.label_tag}}{{atividades_form.descricao}}</div>
            </div>
            <div class="col-md-11 text-end">
                <input type='submit' class='btn btn-success mt-4' value="salvar">
            </div>
        </form>
    </div>
{% endblock %}
